{% extends "console/base.html" %}

{% block page %}
  <div class="container pt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div class="card text-center">
          <div class="card-header p-4">
            <h5 class="mb-0"><strong>비밀번호 초기화</strong></h5>
          </div>
          <div class="card-body p-4">
            <p>비밀번호가 변경되었습니다.</p>
            <div class="d-flex justify-content-center align-items-center mb-2 mt-4">
              <u><a href="{% url 'account_login' %}">로그인</a></u>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock page %}
