{% extends "console/base_nav.html" %}

{% load static %}
{% load widget_tweaks %}

{#{% block title %}비밀번호 초기화 | CheckMate{% endblock title %}#}

{% block page %}
  <!--Main layout-->
  <div class="container pt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div class="card text-center">
          <div class="card-header p-4">
            <h5 class="mb-0"><strong>비밀번호 초기화</strong></h5>
          </div>
          <div class="card-body p-4">
            <p class="mb-4">새로운 비밀번호를 설정하세요</p>

            <form method="post" class="mb-4">
              {% csrf_token %}
              <div class="form-outline">
                {{ form.password1|add_class:'form-control'|attr:'placeholder:'|add_error_class:'error' }}
                <label class="form-label" for="newPassword">New password</label>
              </div>
              {% for error in form.password1.errors %}
                <div class="form-errors error-message"><small>{{ error }}</small></div>
              {% endfor %}

              <div class="form-outline mt-4">
                {{ form.password2|add_class:'form-control'|attr:'placeholder:'|add_error_class:'error' }}
                <label class="form-label" for="confirmPassword">Confirm password</label>
              </div>
              {%  for error in form.password2.errors %}
                <div class="form-errors error-message"><small>{{ error }}</small></div>
              {% endfor %}
              <button type="sumit" class="btn btn-primary mt-4">설정</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Main layout-->
{% endblock page %}
